<ion-header>
  <ion-toolbar>
    <ion-title color='primary'>
      {{initialSettings.firstName}} {{initialSettings.lastName}}
    </ion-title>
    <ion-buttons slot='end'>
        <ion-button (click)='showSettings()' color='secondary'>
          <ion-icon slot='icon-only' name='settings'></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" padding></ion-spinner>
  <ion-list *ngIf="jokes.length">
    <ion-item *ngFor="let item of jokes">{{item.joke}}</ion-item>
  </ion-list>
</ion-content>
