<ion-header>
  <ion-toolbar>
    <ion-title color='dark'>Settings</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)='close()'>
        <ion-icon slot='icon-only' name='close'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>Parameters: </ion-item-divider>
  <form (ngSubmit)="updateSettings()">
    <ion-item>
      <ion-label color='primary'><strong>First Name: </strong></ion-label>
      <ion-input type="text" [(ngModel)]="settings.firstName" name="First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color='primary'><strong>Last Name: </strong></ion-label>
      <ion-textarea [(ngModel)]="settings.lastName" name="Last Name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color='primary'><strong>Number of Results: </strong></ion-label>
      <ion-input type="number" [(ngModel)]="settings.count" name="count"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <ion-button type="submit" color='success'>Update Settings</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>